<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>pandaModel.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F5BC09A81D346E4C00135C89</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F5BC09BF1D346E4C00135C89</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F5BC09CA1D346E4C00135C89</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
